@font-face {
    font-family: 'Eina Bold'; 
    src: url('../fonts/eina-03-bold.ttf'); 
} 

@font-face {
    font-family: 'Eina Regular'; 
    src: url('../fonts/eina-03-regular.ttf'); 
} 



/* This part removes default styling of Chrome*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.home,
.about,
.competitions,
.teams,
.contact,
.projects{
    margin-top: 10px;
    color: white;
    font-family: 'Eina Bold';
    display: inline-block;
    margin-right: 20px;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size:14px;
    transition: color 0.15s;
}


.navigationbar-div{
    background-color: #052b1894;
    display: flex;
    justify-content: center;
}


.home:hover,
.about:hover,
.competitions:hover,
.teams:hover,
.contact:hover,
.projects:hover{
    color: #048a44
}

.searchbar[type=text]{
    margin-top: 26px;
    color: white;
    background-color: #036333;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    border: none;
    display: inline-block;
}

.searchbar[type=text]::placeholder{
    color: white;
    font-family: 'Eina Regular';
}


.language-btn{
    margin-top: 26px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 30px;
    border: none;
    background-color: #048a44;
    font-family: 'Eina Regular';
    color: white;
    transition: background-color 0.15s;
    
}

.language-btn:hover{
    background-color: #036333;
}

/* Until navigation bar*/

.about{
    color: #048a44
}


.initial-view{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ant.jpg");
    background-size:cover;
    width: 100%;
    height: 900px;
}

.initial-view-text{
    font-size: 80px;
    font-family: "Eina Bold";
    color: white;
    margin-top: 300px;
    animation: toright 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes toright{
    from {margin-left: 0px;}

    to {margin-left: 300px;}
}


.our-target{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bird.jpg");
    background-size:cover;
    height: 800px;
}

.our-target-title{
    display: flex;
    background-color: rgba(5, 43, 24, 0.557);
    color: white;
    width: 50%;
    height: 800px;
    justify-content: center;
    align-items: center;
    font-family: 'Eina Bold';
    font-size: 60px;
}

.our-target-description-p{
    margin-left: 20%;
    margin-right: 20%;
}

.our-target-description{
    background-color: rgba(3, 99, 51, 0.557);
    color: white;
    width: 50%;
    height: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    font-family: 'Eina Bold';
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.successes-title{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/success.jpg");
    background-size:cover;
    color: white;
    font-family: 'Eina Bold';
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.successes-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 800px;
    background-color: black;
}

.teknofest-success{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/teknofest.png");
    background-size:cover;
    width: 33.3%; 
    height: 800px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Eina Bold';
    font-size: 30px;
}

.biogate-success{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/biogate.png");
    background-size:cover;
    width: 33.3%; 
    height: 800px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Eina Bold';
    font-size: 30px;
}

.tubitak-success{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tubutak.jpeg");
    background-size:cover;
    color: white;
    width: 33.3%; 
    height: 800px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Eina Bold';
    font-size: 30px;
}

