@font-face {
    font-family: 'Eina Bold'; 
    src: url('../fonts/eina-03-bold.ttf'); 
} 

@font-face {
    font-family: 'Eina Regular'; 
    src: url('../fonts/eina-03-regular.ttf'); 
} 

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.eot");
    src: url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0209bfe594ed24b75ee2aac06529e4f9.svg#Neue Haas Grotesk Display Pro 75 Bold")format("svg");
}

/* This part removes default styling of Chrome*/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.home{
    border: none;
    background: transparent;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.home:hover{
    cursor: pointer;
}

/* Dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background: transparent;
    font-family: 'Eina Bold'; 
    margin-top: 20px; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
    cursor: pointer;
    color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    font-family: 'Eina Bold';
    z-index: 1;
    border-radius: 5px;
    display: none;
    transform: scale(0.968756);
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.menubar-button{
    border: none;
    background-color: transparent;
    margin-top: 22px;
    margin-bottom: auto;
    margin-left: 10px;
    padding: 12px 16px;
    color: white;
    font-family: 'Eina Bold';
    font-size: 16px;
    z-index: 1;
}

.menubar-button:hover{
    color: gray;
    cursor: pointer;;
}

.searchbar{
    margin-top: 35px;
    margin-bottom: auto;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background: rgba(128, 128, 128, 0.644);
    padding-left: 10px;
    color: white;
    font-family: 'Eina Regular';
}

.searchbar::placeholder{
    color:white;
}

.sign-in{
    border: none;
    font-family: 'Eina Regular';
    color: white;
    background: transparent;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.sign-in:hover{
    color: gray;
}

.sign-up{
    border-color: white;
    font-family: 'Eina Regular';
    color: white;
    background: transparent;
    margin-top: 25px;
    border-radius: 6px;;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-width: 0.2mm;
}

.sign-up:hover{
    color: gray;
    border-color: gray;
}


.about-title{
    color: white;
    font-size: 70px;
    font-family: 'Eina Bold';
    margin-left: 35%;
    max-width: auto;
    padding-top: 250px;

    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;

    
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

@keyframes fade-in{
    from{ scale: .8; opacity: 0}
    to {scale:1; opacity: 1;}
}

#fadein {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

.about-container{
    border-radius: 15px;
    color: white;
    font-family: 'Eina Bold';
    width: 400px;
    height: fit-content;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(rgb(44, 2, 44), rgb(2, 2, 80));
    position: relative;
}


.about-container-title{
    font-family: 'Eina Bold';
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5px;
    max-width: fit-content;
    background: transparent;
}

.about-container-description{
    font-family: 'Eina Bold';
    background: transparent;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 15px;
}


/* 
CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
*/


@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;;
        transform: translateY(0px);
    }
}

@keyframes moveline {
    from{height: 0%}
    to {height: 100%}
}

@keyframes shine {
    0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: white;
top: 0;
animation: moveline 1s linear forwards;
bottom: 0;
left: 50%;
margin-left: -3px;
}

/* Container around content */
.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(5, 87, 5);
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
left: 0;
}

/* Place the container to the right */
.right {
left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}

/* The actual content */
.content {
background-color: white;
position: relative;
padding: 1px 1px;
border-radius: 6px;
}

.competition-image{
    max-width: 1200px; 
    background-size: cover;
    height: 300px; 
    border-radius: 6px 6px 0px 0px;
}

.competition-success{
    padding: 20px 30px;
    font-family: 'Eina Bold';
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
.timeline::after {
left: 31px;
}

/* Full-width containers */
.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

/* Make sure that all arrows are pointing leftwards */
.container::before {
left: 60px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after, .right::after {
left: 15px;
}

/* Make all right containers behave like the left ones */
.right {
left: 0%;
}
}

/**/

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding-right: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: grey;
  width: 100%;
}

input[type=submit] {
  background-color: transparent;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid grey;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  font-family: 'Eina Regular';
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgb(1, 77, 48) !important;
  color: #ffffff;

}

.search-button{
    border: none;
    background: transparent;
    color: white;
    font-size: 17px;
}

.search-button:hover{
    cursor: pointer;
}