@font-face {
    font-family: 'Eina Bold'; 
    src: url('../fonts/eina-03-bold.ttf'); 
} 

@font-face {
    font-family: 'Eina Regular'; 
    src: url('../fonts/eina-03-regular.ttf'); 
} 

 


/* This part removes default styling of Chrome*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.home,
.about,
.competitions,
.teams,
.contact,
.projects{
    margin-top: 10px;
    color: white;
    font-family: 'Eina Bold';
    display: inline-block;
    margin-right: 20px;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size:17px;
    transition: color 0.15s;
}


.navigationbar-div{
    background-color: #052b1894;
    display: flex;
    justify-content: center;
}


.home:hover,
.about:hover,
.competitions:hover,
.teams:hover,
.contact:hover,
.projects:hover{
    color: #048a44
}

.searchbar[type=text]{
    margin-top: 26px;
    color: white;
    background-color: #036333;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    border: none;
    display: inline-block;
}

.searchbar[type=text]::placeholder{
    color: white;
    font-family: 'Eina Regular';
}


.language-btn{
    margin-top: 26px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 30px;
    border: none;
    background-color: #048a44;
    font-family: 'Eina Regular';
    color: white;
    transition: background-color 0.15s;
    
}

.language-btn:hover{
    background-color: #036333;
}

/* Until navigation bar*/

.competitions{
    color: #048a44
}


.initial-view{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bird2.jpg");
    background-size:cover;
    width: 100%;
    height: 900px;
}

.initial-view-text{
    font-size: 80px;
    font-family: "Eina Bold";
    color: white;
    margin-top: 300px;
    animation: toright 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes toright{
    from {margin-left: 0px;}

    to {margin-left: 300px;}
}


/* Teknofest 2023*/
.teknofest-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 600px;
}

.teknofest-div-img{
    width: 50%; 
    height: 600px; 
    background: url("../images/teknofest.png");
    background-size:cover;
}

.teknofest-div-text{
    width: 50%; 
    height: 600px; 
    background-image: linear-gradient(rgb(7, 70, 39) , rgb(16, 226, 117));
    display: flex;
    align-items: center;
    text-align: center;
}

.teknofest-div-text-title{
    width: 50%;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Eina Bold';
    font-size: 30px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teknofest-div-text-description{
    width: 50%;
    height: 400px;
    font-family: 'Eina Bold';
    font-size: 18px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BioGate */

.biogate-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 600px;
}

.biogate-div-img{
    width: 50%; 
    height: 600px; 
    background: url("../images/biogate.png");
    background-size: cover;
}

.biogate-div-text{
    width: 50%; 
    height: 600px; 
    background-image: linear-gradient(rgb(7, 70, 39) , rgb(16, 226, 117));
    display: flex;
    align-items: center;
    text-align: center;
}

.biogate-div-text-title{
    width: 50%;
    height: 200px;
    font-family: 'Eina Bold';
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biogate-div-text-description{
    width: 50%;
    height: 400px;
    font-family: 'Eina Bold';
    font-size: 18px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tübitak */

.tubitak-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 600px;
}

.tubitak-div-img{
    width: 50%; 
    height: 600px; 
    background: url("../images/tubutak.jpeg");
    background-size:cover;
}

.tubitak-div-text{
    width: 50%; 
    height: 600px; 
    background-image: linear-gradient(rgb(7, 70, 39) , rgb(16, 226, 117));
    display: flex;
    align-items: center;
    text-align: center;
}

.tubitak-div-text-title{
    width: 50%;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Eina Bold';
    font-size: 30px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tubitak-div-text-description{
    width: 50%;
    height: 400px;
    font-family: 'Eina Bold';
    font-size: 18px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Teknofest 2024 AI*/

.teknofest-2024-ai-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 600px;
}

.teknofest-2024-ai-div-img{
    width: 50%; 
    height: 600px; 
    background: url("../images/teknofest2024.jpeg");
    background-size:cover;
}

.teknofest-2024-ai-div-text{
    width: 50%; 
    height: 600px; 
    background-image: linear-gradient(rgb(7, 70, 39) , rgb(16, 226, 117));
    display: flex;
    align-items: center;
    text-align: center;
    
}

.teknofest-2024-ai-div-text-title{
    width: 50%;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Eina Bold';
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teknofest-2024-ai-div-text-description{
    width: 50%;
    height: 400px;
    font-family: 'Eina Bold';
    font-size: 18px;
    color: white;    
    text-align: center;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

/* Teknofest 2024 Bioinformatics */

.teknofest-2024-bio-div{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 600px;
}

.teknofest-2024-bio-div-img{
    width: 50%; 
    height: 600px; 
    background: url("../images/teknofest2024bio.jpeg");
    background-size:cover;
}

.teknofest-2024-bio-div-text{
    width: 50%; 
    height: 600px; 
    background-image: linear-gradient(rgb(7, 70, 39) , rgb(16, 226, 117));
    display: flex;
    align-items: center;
    text-align: center;
}

.teknofest-2024-bio-div-text-title{
    width: 50%;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Eina Bold';
    font-size: 30px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teknofest-2024-bio-div-text-description{
    width: 50%;
    height: 400px;
    font-family: 'Eina Bold';
    font-size: 18px;
    color: white;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}