@font-face {
    font-family: 'Eina Bold'; 
    src: url('../fonts/eina-03-bold.ttf'); 
} 

@font-face {
    font-family: 'Eina Regular'; 
    src: url('../fonts/eina-03-regular.ttf'); 
} 


/* This part removes default styling of Chrome*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.home,
.about,
.competitions,
.teams,
.contact,
.projects{
    margin-top: 10px;
    color: white;
    font-family: 'Eina Bold';
    display: inline-block;
    margin-right: 20px;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size:17px;
    transition: color 0.15s;
}


.navigationbar-div{
    background-color: #052b1894;
    display: flex;
    justify-content: center;
}


.home:hover,
.about:hover,
.competitions:hover,
.teams:hover,
.contact:hover,
.projects:hover{
    color: #048a44
}

.searchbar[type=text]{
    margin-top: 26px;
    color: white;
    background-color: #036333;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    border: none;
    display: inline-block;
}

.searchbar[type=text]::placeholder{
    color: white;
    font-family: 'Eina Regular';
}


.language-btn{
    margin-top: 26px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 30px;
    border: none;
    background-color: #048a44;
    font-family: 'Eina Regular';
    color: white;
    transition: background-color 0.15s;
    
}

.language-btn:hover{
    background-color: #036333;
}

/* Until navigation bar*/


.projects{
    color: #048a44
}

.initial-view{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/chameleon.jpg");
    background-size:cover;
    width: 100%;
    height: 900px;
}

.initial-view-text{
    font-size: 80px;
    font-family: "Eina Bold";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.project{
    width: 100%;
    height: 800px;
    background: linear-gradient(#01494e, #048992);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project-title{
    width: 40%;
    height: 800px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    text-align: center;
    font-family: 'Eina Bold';
    color:white;
}

.project-description{
    padding-left: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    font-size: 20px;
    text-align: center;
    font-family: 'Eina Bold';
    color:white;
}