@font-face {
    font-family: 'Eina Bold'; 
    src: url('../fonts/eina-03-bold.ttf'); 
} 

@font-face {
    font-family: 'Eina Regular'; 
    src: url('../fonts/eina-03-regular.ttf'); 
} 

body{
    background-color: rgb(12, 12, 88);
}

/* This part removes default styling of Chrome*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.home,
.about,
.competitions,
.teams,
.contact,
.projects{
    margin-top: 10px;
    color: white;
    font-family: 'Eina Bold';
    display: inline-block;
    margin-right: 20px;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size:14px;
    transition: color 0.15s;
}


.navigationbar-div{
    background-color: #052b1894;
    display: flex;
    justify-content: center;
}


.home:hover,
.about:hover,
.competitions:hover,
.teams:hover,
.contact:hover,
.projects:hover{
    color: #048a44
}

.searchbar[type=text]{
    margin-top: 26px;
    color: white;
    background-color: #036333;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    border: none;
    display: inline-block;
}

.searchbar[type=text]::placeholder{
    color: white;
    font-family: 'Eina Regular';
}


.language-btn{
    margin-top: 26px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 30px;
    border: none;
    background-color: #048a44;
    font-family: 'Eina Regular';
    color: white;
    transition: background-color 0.15s;
    
}

.language-btn:hover{
    background-color: #036333;
}

/* Until navigation bar*/

.projects{
    color: #048a44
}

.initial-view{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dolphin.jpg");
    background-size:cover;
    width: 100%;
    height: 700px;
}

.initial-view-text{
    font-size: 80px;
    font-family: "Eina Bold";
    color: white;
    margin-top: 300px;
    animation: toright 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes toright{
    from {margin-left: 0px;}

    to {margin-left: 300px;}
}

.article-div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    padding-top: 20px;
    height: 200px;
}

.article1,
.article2,
.article3,
.article4{
    overflow-wrap: break-word;
    height: 150px;
    background: linear-gradient(rgba(5, 6, 49, 0.5), rgb(127, 214, 255));
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: white;
}

.article_title{
    margin-bottom: 10px;
    font-family: 'Eina Bold';
}

.article_author{
    margin-bottom: 10px;
    font-family: 'Eina Regular';
}

.read_button{
    font-family: 'Eina Regular';
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(12, 12, 107);
    color: white;
    border: none;
    transition: background-color 0.15s;
}

.read_button:hover{
    background-color: #030442;
}